
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap';
//@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.banner-detail{
  max-height: 350px;
  overflow: hidden;
  transition: all .5s ease;
}

.banner-detail.active{
  max-height: 100%;
}

.statistic{

  div.row{
    border-bottom: 1px solid #efefef;
    padding: 1rem 0;
    h4{
      text-align: center;
      font-size: 1rem;
      .NumberData{
        display: block;
        font-size: 2rem;
        text-align: center;
        color: $blue
      }
    }
    h5{
      text-align: center;
      font-size: 1rem;
      span{
        font-size: 0.9rem;
        color: red;
        text-align: center;
        display: block;
      }
    }

    .CurrencyData{
      font-size: 0.9rem;
      color: red;
      text-align: center;
      display: block;
    }


  }
}


.wrap-loadding{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  background: rgba(255, 255, 255, 0.67);
  display: flex;
}

