.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.banner-detail {
  max-height: 350px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.banner-detail.active {
  max-height: 100%;
}

.statistic div.row {
  border-bottom: 1px solid #efefef;
  padding: 1rem 0;
}

.statistic div.row h4 {
  text-align: center;
  font-size: 1rem;
}

.statistic div.row h4 .NumberData {
  display: block;
  font-size: 2rem;
  text-align: center;
  color: #3490dc;
}

.statistic div.row h5 {
  text-align: center;
  font-size: 1rem;
}

.statistic div.row h5 span {
  font-size: 0.9rem;
  color: red;
  text-align: center;
  display: block;
}

.statistic div.row .CurrencyData {
  font-size: 0.9rem;
  color: red;
  text-align: center;
  display: block;
}

